.what-we-offer{
    position: relative;
    height: 37.390625rem;
    width: 100%;
}



/* .hero-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 11.6875rem;
    max-width: 31.5625rem;
    width: 100%;
  } */