header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero {
  position: relative;
  height: 56.25rem;
  width: 100%;
  padding-bottom: 4.5rem;
  background: linear-gradient(
    301deg,
    var(--primaryColor) 34.39%,
    var(--primaryColorGreen200) 100%
  );
}

.hero-dark {
  background: linear-gradient(
    301deg,
    var(--primaryColorGreen100) 34.39%,
    var(--primaryColorGreen200) 100%
  );
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1; /* Ensure container is the base layer */
}

.space-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 9px solid orange; */
  color: antiquewhite;
}

.universe-one {
  height: 50%;
  width: 100%;
  left: 0;
  border: 1px solid violet;
}

.shooting-star{
  position: absolute;
        right: 50%;
        top: -13.59%;
        width: 1px;
        height: 70px;
        background: #fff;
        -webkit-transform: rotate(-52deg);
        -ms-transform: rotate(-52deg);
        transform: rotate(-52deg);
        -webkit-animation: shootingStar;
        animation: shootingStar;
        -webkit-animation-duration: 9s;
        animation-duration: 9s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-animation-delay: 1s;
        animation-delay: 1s
}

@keyframes shootingStar {
  0% {
      top: -13.59%;
      right: 60%
  }

  2% {
      opacity: 0;
      top: 100%;
      right: 0
  }

  86% {
      opacity: 0
  }

  100% {
      opacity: 0
  }
}

.star2{
  top: -23.59%;
        -webkit-animation: shootingStar2;
        animation: shootingStar2;
        -webkit-animation-duration: 10s;
        animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s
}

@keyframes shootingStar2 {
  0% {
      top: -23.59%;
      right: 50%
  }

  2% {
      opacity: 0;
      top: 100%;
      right: -17%
  }

  86% {
      opacity: 0
  }

  100% {
      opacity: 0
  }
}

.satellite{
  width: 10px!important;
    position: absolute;
    top: 10%;
    left: 0;
    -webkit-animation-name: orbit;
    animation-name: orbit;
    -webkit-animation-duration: 11s;
    animation-duration: 11s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@keyframes orbit {
  0% {
      top: 10%;
      left: 0;
      -webkit-transform: rotate(0);
      transform: rotate(0)
  }

  100% {
      top: -40%;
      left: 120%;
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}


.background-piece-one-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-container-dark { 
  background: rgba(0, 40, 60, 0.3);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 11.6875rem;
  max-width: 31.5625rem;
  width: 100%;
}

.hero-content h1,
.hero-content p {
  color: var(--secondaryColor);
}

.hero-image {
  position: absolute;
  width: 42.6875rem;
  height: 38.625rem;
  right: 0;
  top: 0;
  margin-top: 13.1875rem;
}
