header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero {
  position: relative;
  height: 56.25rem;
  width: 100%;
  padding-bottom: 4.5rem;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    301deg,
    var(--primaryColor) 34.39%,
    var(--primaryColorGreen200) 100%
  );
  border: 8px solid pink;
}

.background-container-dark {

}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 11.6875rem;
  max-width: 31.5625rem;
  width: 100%;
}

.hero-content h1,
.hero-content p {
  color: var(--secondaryColor);
}

.hero-image {
  position: absolute;
  width: 42.6875rem;
  height: 38.625rem;
  right: 0;
  top: 0;
  margin-top: 13.1875rem;
}
