.portfolio {
  position: relative;
  min-height: 53.75rem;
  width: 100%;
  padding-bottom: 4.5rem;

}

.portfolio-content {
  height: 100%;
}

.portfolios {
  margin-top: 4.05rem;
  display: flex;
  justify-content: space-between;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  width: 19.3125rem;
  height: 38.0625rem;
  border-radius: 0.5rem;
  border-bottom: 4px solid var(--primaryColor);
  box-shadow: 0px 0px 25px 15px rgba(0, 0, 0, 0.08);
  padding: 0 1.62rem;
}

.portfolio-card img {
  width: 16.05506rem;
  height: 8.75rem;
  margin-top: 3.66rem;
}

.portfolio-card h3 {
  color: var(--headerText);
  margin-top: 2.5rem;
}

.portfolio-card h4 {
  margin-top: 0.25rem;
  color: var(--headerText);
}

.portfolio-card p {
  width: 15.8125rem;
  margin: 1.75rem 0 3.62rem;
  color: var(--bodyText);
}
