.navigation {
  position: absolute;
  top: 0;
  left: 0;
  height: 7.885rem;
  width: 100%;
}

.navigation-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo-container {
  min-width: 9.94488rem;
  cursor: pointer;
  height: 5.385rem;
}

.nav-buttons {
  display: flex;
  width: 100%;
  max-width: 37.1875rem;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.navigation-content ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--secondaryColor);
  z-index: 5;
}

.nav-links li {
  font-weight: 700;
}

.button-container{
  position: relative;
  width: 35px;
}

.top-toggler-container {
  background: #e6e6e6;
  border-color: #e6e6e6;
  box-shadow: 0 15px 5px -8px rgba(67, 183, 255, 0.5);
}

.toggler-container{
  background-color: var(--primaryBackgroundColor);
}

.top-toggle-container {
  top: 60px;
  right: 15px;
  transform: rotate(-90deg);
  z-index: 1000;
  transition: 0.3s ease-in;
}

.button-text{
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primaryBackgroundColor);
}

.button-text-dark{
  color: #43b7ff;
}


