.navigation {
  position: absolute;
  top: 0;
  left: 0;
  height: 7.885rem;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.navigation-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo-container {
  max-width: 9.94488rem;
  cursor: pointer;
  height: 5.385rem;
  position: relative;
}

.after-dark {
  position: absolute;
  display: block;
  transition: 0.1s ease-in;
  font-family: Yellowtail, sans-serif;
  color: var(--primaryColor);
  top: 45px;
  left: 70px;
  z-index: 0;
  transform: rotate(-13deg);
}

.after-dark span {
  font-family: Yellowtail, sans-serif;
  display: table-cell;
  margin: 0;
  font-size: 2.25rem;
  padding: 0;
  animation: neonGlow 3s linear infinite;
}

.after-dark span:nth-child(1) {
  animation-delay: 1s;
}

.after-dark span:nth-child(2) {
  animation-delay: 1s;
}

.after-dark span:nth-child(3) {
  animation-delay: 1.2s;
}

.after-dark span:nth-child(4) {
  animation-delay: 1s;
}

.after-dark span:nth-child(5) {
  animation-delay: 2s;
  margin-right: 3px !important;
}

.after-dark span:nth-child(6) {
  animation-delay: 2.45s;
}

.after-dark span:nth-child(7) {
  animation-delay: 2.75s;
}

.after-dark span:nth-child(8) {
  animation-delay: 2.75s;
}

.after-dark span:nth-child(9) {
  animation-delay: 2.75s;
}

@keyframes neonGlow {
  0%,
  100% {
    color: #abfecb;
    filter: blur(2px);
    text-shadow: 0 0 10px var(--primaryColor), 0 0 20px var(--primaryColor),
      0 0 40px var(--primaryColor), 0 0 50px var(--primaryColor),
      0 0 60px var(--primaryColor);
  }

  5%,
  95% {
    color: #fff;
    filter: blur(0);
    text-shadow: 0 0 10px var(--primaryColor), 0 0 20px var(--primaryColor),
      0 0 40px var(--primaryColor), 0 0 50px var(--primaryColor),
      0 0 60px var(--primaryColor);
  }
}

.nav-buttons {
  display: flex;
  width: 100%;
  max-width: 37.1875rem;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--primaryColorGreen900);
  z-index: 5;
}

.nav-links li {
  font-weight: 700;
}

.close-icon {
  display: none;
}

.modal {
  display: none;
}

.button-container {
  position: relative;
  width: 35px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.top-toggler-container {
  background: #e6e6e6;
  border-color: #e6e6e6;
  box-shadow: 0 15px 5px -8px rgba(67, 183, 255, 0.5);
}

.toggler-container {
  background-color: var(--primaryBackgroundColor);
}

.top-toggle-container {
  top: 60px;
  right: 15px;
  transform: rotate(-90deg);
  z-index: 1000;
  transition: 0.3s ease-in;
}

.button-text {
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primaryBackgroundColor);
}

.button-text-dark {
  color: var(--primaryColor);
}

@media screen and (max-width: 1024px) {
  .navigation {
    height: 4.375rem;
  }

  .logo-container {
    margin-top: 1rem;
    height: 3.125rem;
    min-width: 0;
  }

  .nav-buttons {
    justify-content: end;
    gap: 3rem;
  }

  .close-icon {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 3rem;
    cursor: pointer;
  }

  .modal {
    display: block;
    position: fixed;

    background-color: var(--primaryColorBlack);
    opacity: 0.55;
    top: 0;
    right: -100rem;
    width: 100%;
    height: 100%;
  }

  .modal{
    transition: right 0.4s ease-out;
    transition-delay: 0.15s;
  }

  .modal-open{
    right: 0;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -50rem;
    height: 100%;
    background-color: var(--primaryBackgroundColor);
    z-index: 555;
    width: 40%;
    padding: 10rem 4rem;
  }

  .nav-links {
    transition: right 0.4s ease-out;
  }

  .open {
    right: 0;
  }

  /* Set the animation */
  .nav-link {
    margin-left: 10rem;
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
    color: var(--tertiaryColor);
  }

  .nav-link:nth-child(1) {
    transition-delay: 0.1s;
  }

  .nav-link:nth-child(2) {
    transition-delay: 0.2s;
  }
  .nav-link:nth-child(3) {
    transition-delay: 0.3s;
  }
  .nav-link:nth-child(4) {
    transition-delay: 0.4s;
  }
  .nav-link:nth-child(5) {
    transition-delay: 0.5s;
  }

  /* Set animation timing */
  .nav-link {
    transition: margin 0.4s ease-out;
  }

  /* Final frame */
  .show-link {
    margin-left: 0;
  }

  .nav-links span {
    transition: margin 0.4s;
  }

  .nav-links li:hover span {
    margin-left: 2.5rem;
  }

  .after-dark {
    top: 26px;
    left: 45px;
  }

  .after-dark span {
    font-size: 1.1875rem;
  }

  .hamburger-menu {
    display: block;
    margin-top: 3rem;
  }

  .button-text {
    bottom: -35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    width: 55%;
  }
}

@media screen and (max-width: 530px) {
  .nav-links {
    width: 100%;
  }
}
