/* .who-we-are {
    position: relative;
    height: 54.125rem;
    width: 100%;
  }
  
  .who-we-are-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  } */