/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Constants */
:root {
  /* Font */
  --font: "Poppins", sans-serif;

  /* Colors */
  --primaryColorGreen: #1dd48b;
  --primaryColorGreen100: #0b1814;
  --primaryColorGreen200: #173f30;
  --primaryColorGreen300: #1e6b4d;
  --primaryColorGreen400: #209d6b;
  --primaryColorGreen600: #33f0a4;
  --primaryColorGreen700: #5afcbb;
  --primaryColorGreen800: #8affd0;
  --primaryColorGreen900: #f0fff9;
  --primaryColorNeutral: #cad9d3;
  --primaryColorNeutral100: #b0b5b4;
  --primaryColorNeutral200: #b6bebc;
  --primaryColorNeutral300: #bcc8c4;
  --primaryColorNeutral400: #c2d0cb;
  --primaryColorNeutral600: #d1e0da;
  --primaryColorNeutral700: #dae7e2;
  --primaryColorNeutral800: #e3eee9;
  --primaryColorNeutral900: #ecf4f0;
  --primaryColorBlack: #000000;
  --primaryColorBlack100: #122b20;
  --primaryColorWhite: #ffffff;

  /* Background color */
  --primaryBackgroundColor: #f0fff9;

  /* Text color */
  --primaryTextColor: #173f30;
}

/* Body styles */
body {
  font-family: var(--font);
  scroll-behavior: smooth;
  background-color: pink;
}

/* Section styles */
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Container styles */
.container {
  max-width: 65rem;
  width: 100%;
  height: 100%;
  border: 1px solid green;
}

/* List styles */
ul, ol, li {
  list-style: none;
}

/* Additional styles */
.label-text {
  font-size: 1rem;
  font-weight: 400;
}

/* Link styles */
a {
  text-decoration: none;
  color: inherit;
}
